/* In /src/components/LikeButton.css */
.like-button,
.like-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--tag-background);
  border: 1.5px solid var(--card-border);
  border-radius: 16px;
  padding: 0.18rem 0.7rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.like-button:hover {
  background: var(--card-border);
  border-color: var(--primary-color);
}



.like-count {
  color: var(--secondary-text-color);
}

/* Style for when the post is liked */
.like-button.liked {
  background-color: #ffebee;
  border-color: #ef5350;
}

.like-button.liked .like-icon {
  color: #ef5350;
}

.like-button.liked .like-count {
  color: #ef5350;
  font-weight: bold;
}

.like-icon.disabled {
  color: #ccc;
}
