/* In /src/pages/Form.css */
.form-title {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
}

.form-group input {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  background: var(--background-color);
  border: 1px solid var(--card-border);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.forgot-password {
  color: var(--primary-color);
  text-decoration: none;
}
.forgot-password:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 8px;
  background-color: #e55335;
  color: var(--button-text-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #d04a2e;
}

.form-footer-text {
  margin-top: 2.5rem;
  font-size: 0.9rem;
  color: var(--secondary-text-color);
  text-align: center;
}

.form-footer-text a {
  color: var(--primary-color);
  font-weight: bold;
}